#main p {
    margin-top: 0;
}

.textcenter {
    text-align: center;
}

.textleft {
    text-align: left;
}

.col {
    position: relative;
    width: 50%;
    float: left;
    text-align: center;
    margin-bottom: 15px;
}

.photo {
    position: relative;
}

.photo img {
    position: relative;
    width: 98%;
    height: auto;
    margin: 1%;
}

.photo p {
    position: absolute;
    top: 4px;
    left: 4px;
    bottom: 4px;
    right: 4px;
    margin: 0;
    padding: 8px;
    font-weight: bold;
    background: rgba(100, 100, 100, 0.8);
    opacity: 0;
    transition: 0.1s linear;
    overflow: auto;
}

.photo:hover p {
    opacity: 1;
}

.desktop {
    display: inline;
}

.mobile {
    display: none;
}

@media (pointer: course) {
    .desktop {
        display: none;
    }
    .mobile {
        display: inline;
    }
}
