.sub-nav {
    background: none;
    text-align: center;
    margin: 0;
    padding: 15px;
}

.sub-nav ul {
    padding: 0;
}

.sub-nav ul li {
    font-size: 16px;
    margin: 0;
    padding: 5px 15px;
}

.current {
    color: orange;
}

#main p {
    margin-top: 0;
}

.textcenter {
    text-align: center;
}

.textleft {
    text-align: left;
}

.col {
    position: relative;
    width: 50%;
    float: left;
    text-align: center;
}

.photo {
    position: relative;
}

.photo img {
    position: relative;
    width: 98%;
    height: auto;
    margin: 1%;
}

.photo p {
    position: absolute;
    top: 4px;
    left: 4px;
    bottom: 4px;
    right: 4px;
    margin: 0;
    padding: 8px;
    font-weight: bold;
    background: rgba(100, 100, 100, 0.8);
    opacity: 0;
    transition: 0.1s linear;
    overflow: auto;
}

.photo:hover p {
    opacity: 1;
}
