body {
    background: gray;
    margin: 5px 5px 0 5px;
    font-family: monospace;
    font-size: 18px;
}

header {
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background: linear-gradient(#06a6cd, #a0a4a5);
}

header h4 {
    display: inline;
}

header ul {
    display: inline;
    padding: 0;
}

header ul li {
    list-style: none;
    padding: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

header ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.1s linear;
}

header ul li a:hover {
    color: orange;
}

.sub-nav {
    background: none;
    text-align: center;
    margin: 0;
    padding: 15px;
}

.sub-nav ul {
    padding: 0;
}

.sub-nav ul li {
    font-size: 16px;
    margin: 0;
    padding: 5px 15px;
}

.dark {
    color: white;
    background: #333;
}

.light {
    background: #999;
}

.current {
    color: orange;
}

.centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

#olympic {
    width: 100%;
    height: auto;
}

.photo-inline {
    display: inline;
    margin: 20px;
}

.shadowed {
    box-shadow: 2px 0px 20px black;
}

.left {
    float: left;
    margin-right: 30px;
}

.right {
    float: right;
    margin-left: 30px;
}

#main {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

#main p {
    text-indent: 2em;
}

#card {
    display: inline;
}

#card p, #card h4 {
    text-align: right;
    text-indent: 0;
}

.textcenter {
    text-align: center;
}

.textleft {
    text-align: left;
}
